node_modules/
.pnp
.pnp.js

dist/
build/
out/
.expo/
web-build/
*.tsbuildinfo

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local
*.pem
*.jks
*.p12

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.sw?

mobile/.kotlin/
mobile/android/
mobile/ios/*
!mobile/ios/NiimbotSDK/
!mobile/ios/LocalPods/
!mobile/ios/PrinterModule.h
!mobile/ios/PrinterModule.m
!mobile/ios/PrinterModule copy.h
